<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>My Webpage</title>
    <link rel="stylesheet" href="static/index.css">
</head>

<body>
    <p>運勢を表示します</p>
    <table border="1">
        <thread>
            <tr>日付</tr>
            <tr>運勢</tr>
        </thread>
        <tbody>
            {% for i in fortune_list %}
            <tr>
                <td>{{i.day}}</td>
                <td>{{i.fortune}}</td>
            </tr>
            {% endfor%}
        </tbody>
    </table>
    {% if comment %}
    <p>今日の占いに対するコメントは？<br>
        {{comment}}
    </p>
    {% endif %}
    <br>
    <form method="POST" action="/fortune">
        <label for="commentInput">今日の占いに対するコメントを入力</label>
        <input id="commentInput" name="comment">
        <p>表示したい日数<br>
            <select name="num_of_days">
                <option value="1">1日分</option>
                <option value="2">2日分</option>
                <option value="3" selected>3日分</option>
                <option value="4">4日分</option>
                <option value="5">5日分</option>
            </select>
        </p>
        <input type="submit" value="連携">
    </form>    
</body>
</html>
